/* start styles.css */
@keyframes fadeInSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(40px) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1.1);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}
@keyframes image-out {
  0% {
    transform: scale(1.15);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes image-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.15);
  }
}
/* Defaults
---------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button,
input:focus,
input[type=button],
input[type=submit],
textarea:focus,
.wp-element-button {
  transition: all 0.2s ease-in-out;
}

a,
a:focus,
a:hover,
a:not(.wp-element-button) {
  text-decoration-thickness: 1px;
}

b,
strong,
th {
  font-weight: var(--wp--custom--font-weight--medium);
}

/* -- Misc -- */
::-moz-placeholder {
  color: var(--wp--preset--color--contrast);
  font-size: var(--wp--preset--font-size--small);
  opacity: 0.5;
}
::placeholder {
  color: var(--wp--preset--color--contrast);
  font-size: var(--wp--preset--font-size--small);
  opacity: 0.5;
}

/* -- Forms -- */
input,
select,
textarea {
  background-color: var(--wp--preset--color--base);
  border: 1px solid var(--wp--preset--color--contrast);
  border-radius: 0;
  color: var(--wp--preset--color--contrast);
  font-family: var(--wp--preset--font-family--primary);
  font-size: var(--wp--preset--font-size--medium);
  font-weight: var(--wp--custom--font-weight--light);
  line-height: var(--wp--custom--line-height--body);
  padding: 10px 20px;
  width: 100%;
}

input:focus,
textarea:focus {
  background-color: var(--wp--preset--color--neutral);
  outline: none;
}

input[type=checkbox],
input[type=image],
input[type=radio] {
  width: auto;
}

input[type=button],
input[type=email],
input[type=search],
input[type=submit],
input[type=text],
textarea {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

body.admin-bar header.site-header {
  top: 32px;
}
@media (max-width: 782px) {
  body.admin-bar header.site-header {
    top: 0;
  }
}
@media (max-width: 782px) {
  body.admin-bar #wpadminbar {
    display: none !important;
  }
}

div.wpforms-container-full .wpforms-submit-container button.wpforms-submit[type=submit] {
  background-color: var(--wp--preset--color--primary);
}
div.wpforms-container-full .wpforms-submit-container button.wpforms-submit[type=submit]:not(:hover):not(:active) {
  background-color: var(--wp--preset--color--primary);
}
div.wpforms-container-full .wpforms-submit-container button.wpforms-submit[type=submit]:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--wp--preset--color--primary);
}

.is-the-expert-form {
  display: none;
}

#wpforms-form-270 .wpforms-field-container > .wpforms-field-select {
  width: 100%;
}
#wpforms-form-270 .wpforms-submit-container {
  display: none;
}
#wpforms-form-270 .wpforms-field-select-style-modern {
  display: flex;
  flex-flow: row nowrap;
}
#wpforms-form-270 .wpforms-field-select-style-modern label,
#wpforms-form-270 .wpforms-field-select-style-modern .choices,
#wpforms-form-270 .wpforms-field-select-style-modern .choices__item {
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.2;
}
#wpforms-form-270 .wpforms-field-select-style-modern div.choices {
  max-width: 540px;
}

#wpforms-270 div.choices.wpforms-field-large {
  flex: 1;
}

header.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  background-color: var(--wp--preset--color--base);
  color: var(--wp--preset--color--contrast);
}
header.site-header + * {
  margin-top: 90px !important;
}

.site-header .wp-block-search.wp-block-search__button-only {
  position: relative;
}
.site-header .wp-block-search.wp-block-search__button-only .wp-block-search__button {
  position: relative;
  padding: 1.5rem;
}
.site-header .wp-block-search.wp-block-search__button-only .wp-block-search__button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.site-header .wp-block-search.wp-block-search__button-only .wp-block-search__input {
  position: absolute;
  right: 100%;
  left: auto;
  min-width: 0px;
  font-size: 16px;
  padding: 8px 16px;
}
.site-header .wp-block-search.wp-block-search__button-only .wp-block-search__input[aria-hidden=false] {
  min-width: 220px;
  min-height: 48px;
}

header.site-header .is-menu-open {
  color: var(--wp--preset--color--secondary) !important;
}
header.site-header .is-menu-open button[aria-label="Close menu"] {
  transform: scale(1.5);
  color: var(--wp--preset--color--secondary);
}
header.site-header .is-menu-open button[aria-label="Close menu"]:hover, header.site-header .is-menu-open button[aria-label="Close menu"]:focus {
  color: var(--wp--preset--color--base);
}
header.site-header .is-menu-open .wp-block-navigation-item.wp-block-navigation-link:not(.has-child) .wp-block-navigation-item__content:hover, header.site-header .is-menu-open .wp-block-navigation-item.wp-block-navigation-link:not(.has-child) .wp-block-navigation-item__content:focus {
  color: var(--wp--preset--color--base) !important;
}
header.site-header button[aria-expanded=true] + .wp-block-navigation__submenu-container .wp-block-navigation-item__content:hover, header.site-header button[aria-expanded=true] + .wp-block-navigation__submenu-container .wp-block-navigation-item__content:focus {
  color: var(--wp--preset--color--base) !important;
  background-color: var(--wp--preset--color--contrast) !important;
}
header.site-header nav.wp-block-navigation a[href*="#"] {
  pointer-events: none;
}
header.site-header nav.wp-block-navigation a[href$="/our-partners/program-overview/"] {
  background-color: var(--wp--preset--color--secondary);
}
header.site-header nav.wp-block-navigation a[href$="/products-services/out-of-the-box/"] {
  background-color: var(--wp--preset--color--custom-color-9);
}
header.site-header nav.wp-block-navigation a[href$="/products-services/customized/"] {
  background-color: var(--wp--preset--color--custom-color-7);
}
header.site-header nav.wp-block-navigation .wp-block-navigation-item.has-child .wp-block-navigation__submenu-container {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--wp--preset--color--neutral);
  min-width: 280px;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}
header.site-header nav.wp-block-navigation .wp-block-navigation-item.has-child .wp-block-navigation__submenu-container > li {
  border-radius: 8px;
  background-color: var(--wp--preset--color--base);
  overflow: hidden;
}
header.site-header nav.wp-block-navigation .wp-block-navigation-item.has-child .wp-block-navigation__submenu-container > li a {
  font-size: var(--wp--preset--font-size--x-small);
  padding: 8px;
  display: block;
  text-align: center;
}

@media (min-width: 1201px) {
  .site-header .wp-block-navigation-submenu > .wp-block-navigation-item__content {
    position: relative;
    padding-bottom: 2px;
  }
  .site-header .wp-block-navigation-submenu > .wp-block-navigation-item__content:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 2px solid var(--wp--preset--color--primary);
    bottom: -2px;
    transition: all 0.2s ease-in-out;
    left: 0;
    right: auto;
  }
  .site-header .wp-block-navigation-submenu > .wp-block-navigation-item__content:hover::before, .site-header .wp-block-navigation-submenu > .wp-block-navigation-item__content:focus::before {
    width: 100%;
  }
  .site-header .wp-block-navigation-submenu > .wp-block-navigation-item__content.current-menu-ancestor::before, .site-header .wp-block-navigation-submenu > .wp-block-navigation-item__content.current-menu-item::before, .site-header .wp-block-navigation-submenu > .wp-block-navigation-item__content.is-current-page-ancestor::before {
    width: 33%;
  }
  .site-header .current-menu-item > .wp-block-navigation-item__content::before,
  .site-header .is-current-page-ancestor > .wp-block-navigation-item__content::before {
    width: 33%;
  }
  .site-header .current-menu-ancestor ~ .wp-block-navigation-submenu .current-menu-item .wp-block-navigation-item__label {
    position: relative;
    padding-bottom: 2px;
  }
  .site-header .current-menu-ancestor ~ .wp-block-navigation-submenu .current-menu-item .wp-block-navigation-item__label:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 2px solid var(--wp--preset--color--primary);
    bottom: -2px;
    transition: all 0.2s ease-in-out;
    left: 0;
    right: auto;
  }
  .site-header .current-menu-ancestor ~ .wp-block-navigation-submenu .current-menu-item .wp-block-navigation-item__label::before {
    width: 33%;
  }
  .site-header .current-menu-ancestor ~ .wp-block-navigation-submenu .current-menu-item:hover .wp-block-navigation-item__label::before, .site-header .current-menu-ancestor ~ .wp-block-navigation-submenu .current-menu-item:focus .wp-block-navigation-item__label::before {
    width: 100%;
  }
  .site-header .wp-block-navigation-item__content {
    position: relative;
    padding-bottom: 2px;
  }
  .site-header .wp-block-navigation-item__content:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 2px solid var(--wp--preset--color--primary);
    bottom: -2px;
    transition: all 0.2s ease-in-out;
    left: 0;
    right: auto;
  }
  .site-header .wp-block-navigation-item__content:hover::before, .site-header .wp-block-navigation-item__content:focus::before {
    width: 100%;
  }
  .site-header .wp-block-navigation-item.has-child {
    height: var(--hc-header-height);
  }
}
@media (max-width: 1200px) {
  header.site-header .wp-block-navigation__submenu-container.wp-block-navigation-submenu .wp-block-navigation-item__content {
    border: 1px solid transparent;
  }
  header.site-header .wp-block-navigation__submenu-container.wp-block-navigation-submenu .wp-block-navigation-item__content:focus, header.site-header .wp-block-navigation__submenu-container.wp-block-navigation-submenu .wp-block-navigation-item__content:hover {
    background-color: var(--wp--preset--color--contrast) !important;
    border: 1px solid var(--wp--preset--color--base);
  }
  header.site-header button[aria-label="Close menu"] {
    color: var(--wp--preset--color--base);
  }
  header.site-header .wp-block-navigation__responsive-container.has-modal-open.is-menu-open {
    background-color: var(--wp--preset--color--contrast);
  }
  header.site-header .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container {
    width: 100%;
  }
  header.site-header .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container > .wp-block-navigation-item {
    width: 100%;
  }
  header.site-header .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container > .wp-block-navigation-item > .wp-block-navigation-item__content {
    display: block;
    width: 100% !important;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--wp--preset--color--secondary);
  }
  header.site-header .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container > .wp-block-navigation-item > .wp-block-navigation-item__content:hover {
    background-color: var(--wp--preset--color--contrast) !important;
  }
  header.site-header .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container > .wp-block-navigation-item > .wp-block-navigation__submenu-icon.wp-block-navigation-submenu__toggle {
    position: absolute;
    right: 0;
    top: 8px;
    display: block;
    margin-left: 0;
    width: unset;
    height: unset;
  }
  header.site-header .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container > .wp-block-navigation-item > .wp-block-navigation__submenu-icon.wp-block-navigation-submenu__toggle > svg {
    transition: all 0.4s cubic-bezier(0.31, 0.11, 0.12, 0.99);
    width: 24px;
    height: 24px;
    margin-top: 0;
  }
  header.site-header .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container > .wp-block-navigation-item > .wp-block-navigation__submenu-icon.wp-block-navigation-submenu__toggle[aria-expanded=false] + .wp-block-navigation__submenu-container {
    display: none;
  }
  header.site-header .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container > .wp-block-navigation-item > .wp-block-navigation__submenu-icon.wp-block-navigation-submenu__toggle[aria-expanded=true] + .wp-block-navigation__submenu-container {
    display: flex;
  }
  header.site-header .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container > .wp-block-navigation-item > .wp-block-navigation__submenu-icon.wp-block-navigation-submenu__toggle[aria-expanded=true] svg {
    transform: rotate(90deg);
  }
  header.site-header .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container .wp-block-navigation__submenu-container {
    align-items: center;
    width: 100%;
  }
  header.site-header .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container .wp-block-navigation__submenu-container .wp-block-navigation-item {
    background-color: var(--wp--preset--color--neutral) !important;
    color: var(--wp--preset--color--contrast) !important;
    border-radius: 4px;
    width: 100%;
  }
  header.site-header .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container .wp-block-navigation__submenu-container .wp-block-navigation-item > a {
    width: 100%;
  }
}
footer.site-footer {
  margin-top: var(--wp--custom--spacing--gutter);
}
footer.site-footer .wp-block-social-links svg {
  width: 40px !important;
  height: 40px !important;
}

.wp-block-kadence-query .kadence-filter-wrap .btn-inner-wrap {
  padding-left: 10px;
  border-left: 2px solid var(--wp--preset--color--contrast);
}
.wp-block-kadence-query .kadence-filter-wrap .btn-inner-wrap:first-child {
  padding-left: 0;
  border-left: unset;
}

.kt-tabs-wrap .kt-tabs-title-list > .kt-title-item {
  text-align: center;
  padding: 0px 32px;
}
.kt-tabs-wrap .kt-tabs-title-list > .kt-title-item:not(:first-child) {
  border-left: 2px solid var(--wp--preset--color--contrast);
}
.kt-tabs-wrap .kt-tabs-title-list > .kt-title-item:first-child {
  border-left: unset;
}
@media (max-width: 767px) {
  .kt-tabs-wrap .kt-tabs-title-list {
    justify-content: center;
  }
  .kt-tabs-wrap .kt-tabs-title-list > .kt-title-item {
    padding: 0px;
  }
}
.kt-tabs-wrap .kt-tabs-accordion-title.kt-tab-title-inactive a {
  border: 1px solid var(--wp--preset--color--contrast) !important;
}

.kt-blocks-accordion-header {
  padding: var(--wp--preset--spacing--x-small) !important;
}

.wp-block-kadence-pane.kt-accordion-pane p:first-child {
  margin-top: 0;
}
.wp-block-kadence-pane.kt-accordion-pane p:last-child {
  margin-bottom: 0;
}

.wp-block-kadence-pane.kt-accordion-pane {
  display: flex;
  flex-flow: column nowrap;
}
.wp-block-kadence-pane.kt-accordion-pane .kt-accordion-panel.kt-accordion-panel-active {
  flex: 1;
}
.wp-block-kadence-pane.kt-accordion-pane .kt-accordion-panel.kt-accordion-panel-active .kt-accordion-panel-inner {
  height: 100%;
}

.kt-accordion-header-wrap .kt-blocks-accordion-header {
  cursor: pointer;
}
.kt-accordion-header-wrap .kt-blocks-accordion-title {
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--x-large);
}
.kt-accordion-header-wrap .kt-blocks-accordion-icon-trigger::before, .kt-accordion-header-wrap .kt-blocks-accordion-icon-trigger::after {
  transition: all 0.4s cubic-bezier(0.31, 0.11, 0.12, 0.99);
  height: 2px;
}

.wp-block-kadence-accordion .kt-blocks-accordion-title {
  line-height: 1.375;
}
.wp-block-kadence-accordion.is-style-large-cols-1 .kt-blocks-accordion-title {
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--max-40);
}
.wp-block-kadence-accordion.is-style-large-cols-1 .kt-blocks-accordion-icon-trigger {
  margin: 0 var(--wp--custom--spacing--gutter);
}
.wp-block-kadence-accordion.is-style-large-cols-1 .kt-blocks-accordion-icon-trigger::before, .wp-block-kadence-accordion.is-style-large-cols-1 .kt-blocks-accordion-icon-trigger::after {
  height: 2px;
}

.kt-button,
.kt-btn {
  padding: 16px 24px !important;
}

.kt-btn-inner-text {
  letter-spacing: 1px;
  font-size: var(--wp--preset--font-size--medium) !important;
}

@media (max-width: 779px) {
  .wp-block-kadence-query-filter-buttons {
    display: none;
  }
}
.kb-query-item.kb-query-block-post .wp-block-post-terms, .wp-block-post-template.is-style-post-template-1 .wp-block-post-terms {
  display: inline-block;
  margin: 0 auto;
  padding: 8px 16px;
  border-radius: 4px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: var(--wp--preset--color--contrast);
}
.kb-query-item.kb-query-block-post .wp-block-post-terms a, .wp-block-post-template.is-style-post-template-1 .wp-block-post-terms a {
  text-decoration: none;
  pointer-events: none;
  white-space: nowrap;
}
.kb-query-item.kb-query-block-post .wp-block-post-terms + *, .wp-block-post-template.is-style-post-template-1 .wp-block-post-terms + * {
  margin-top: var(--wp--preset--spacing--40) !important;
  margin-bottom: 0 !important;
}

.wp-block-post-template.is-style-post-template-2 .wp-block-post .is-the-dynamic-company-logo {
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 1024px) {
  .wp-block-post-template.is-style-post-template-2 .wp-block-post .is-the-dynamic-company-logo {
    bottom: auto;
    top: 0;
    transform: translateY(-100%);
  }
}
.wp-block-post-template.is-style-post-template-2 .wp-block-post > .wp-block-columns > .wp-block-column:last-child .is-style-subheadings + .wp-block-kadence-advancedheading {
  font-size: var(--wp--preset--font-size--x-large);
}
@media (min-width: 1025px) {
  .wp-block-post-template.is-style-post-template-2 .wp-block-post > .wp-block-columns > .wp-block-column:last-child .is-style-subheadings + .wp-block-kadence-advancedheading {
    max-width: 240px;
    margin-left: 0 !important;
  }
}
.wp-block-post-template.is-style-post-template-2 .wp-block-post > .wp-block-columns > .wp-block-column:last-child {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
@media (max-width: 1024px) {
  .wp-block-post-template.is-style-post-template-2 .wp-block-post > .wp-block-columns > .wp-block-column:last-child {
    --wp--preset--spacing--small: var(--wp--preset--spacing--x-small);
    text-align: center;
  }
  .wp-block-post-template.is-style-post-template-2 .wp-block-post > .wp-block-columns > .wp-block-column:last-child .kb-buttons-wrap {
    margin-top: var(--wp--preset--spacing--medium);
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .wp-block-post-template.is-style-post-template-2 .wp-block-post-featured-image[style*="aspect-ratio:3/2"] {
    max-height: 300px;
  }
}

@media (max-width: 767px) {
  .wp-block-post-template.is-style-post-template-1 {
    text-align: center;
  }
  .wp-block-post-template.is-style-post-template-1 .wp-block-read-more {
    margin-left: auto !important;
  }
  .wp-block-post-template.is-style-post-template-1 .wp-block-post .wp-block-post-featured-image {
    max-height: 240px;
  }
  .wp-block-post-template.is-style-post-template-1 .wp-block-post > .wp-block-columns {
    gap: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .wp-block-post-template.is-style-post-template-1 .wp-block-post-title + .wp-block-columns {
    flex-wrap: wrap !important;
  }
  .wp-block-post-template.is-style-post-template-1 .wp-block-post-title + .wp-block-columns > .wp-block-column {
    flex-basis: 100% !important;
  }
}

.wp-block-post-template.is-style-post-template-1 .wp-block-read-more {
  border-radius: 40px;
  padding: 16px 24px;
  border: 2px solid var(--wp--preset--color--primary);
  color: var(--wp--preset--color--contrast);
}
.wp-block-post-template.is-style-post-template-1 .wp-block-read-more:hover, .wp-block-post-template.is-style-post-template-1 .wp-block-read-more:focus {
  border: 2px solid var(--wp--preset--color--primary) !important;
  color: var(--wp--preset--color--secondary) !important;
  background-color: var(--wp--preset--color--contrast) !important;
}

.wp-block-post-template.is-style-post-template-1 .wp-block-post.category-blog.tag-beginner .wp-block-post-terms a {
  color: var(--wp--preset--color--secondary) !important;
}
.wp-block-post-template.is-style-post-template-1 .wp-block-post.category-blog.tag-intermediate .wp-block-read-more {
  border-color: var(--wp--preset--color--custom-color-4) !important;
}
.wp-block-post-template.is-style-post-template-1 .wp-block-post.category-blog.tag-intermediate .wp-block-read-more:hover, .wp-block-post-template.is-style-post-template-1 .wp-block-post.category-blog.tag-intermediate .wp-block-read-more:focus {
  border: 2px solid var(--wp--preset--color--custom-color-4) !important;
  color: var(--wp--preset--color--custom-color-7) !important;
  background-color: var(--wp--preset--color--custom-color-10) !important;
}
.wp-block-post-template.is-style-post-template-1 .wp-block-post.category-blog.tag-intermediate .wp-block-post-terms a {
  color: var(--wp--preset--color--custom-color-7) !important;
}
.wp-block-post-template.is-style-post-template-1 .wp-block-post.category-blog.tag-advanced .wp-block-post-terms a {
  color: var(--wp--preset--color--custom-color-9) !important;
}
.wp-block-post-template.is-style-post-template-1 .wp-block-post.category-blog.tag-advanced .wp-block-read-more {
  border-color: var(--wp--preset--color--custom-color-6) !important;
}
.wp-block-post-template.is-style-post-template-1 .wp-block-post.category-blog.tag-advanced .wp-block-read-more:hover, .wp-block-post-template.is-style-post-template-1 .wp-block-post.category-blog.tag-advanced .wp-block-read-more:focus {
  border: 2px solid var(--wp--preset--color--custom-color-6) !important;
  color: var(--wp--preset--color--custom-color-9) !important;
  background-color: var(--wp--preset--color--custom-color-12) !important;
}

.kb-query-item.kb-query-block-post {
  display: flex;
  flex-flow: column nowrap;
}
.kb-query-item.kb-query-block-post > .wp-block-kadence-column {
  min-height: 240px;
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
}
.kb-query-item.kb-query-block-post > .wp-block-kadence-column > .kt-inside-inner-col {
  flex: 1 0 auto;
}
.kb-query-item.kb-query-block-post .taxonomy-category a:not([href$="/category/case-studies/"]):not([href$="/category/resources/"]):not([href$="/category/blog/"]):not([href$="/category/news/"]) {
  display: none;
}
.kb-query-item.kb-query-block-post .taxonomy-category .wp-block-post-terms__separator {
  display: none;
}

.is-style-post-template-1 .wp-block-post.category-case-studies .taxonomy-category a:not([href$="/category/case-studies/"]) {
  display: none;
}
.is-style-post-template-1 .wp-block-post.category-case-studies .taxonomy-category .wp-block-post-terms__separator {
  display: none;
}

.is-style-post-template-1 .wp-block-post .wp-block-post-featured-image {
  max-height: 320px;
  max-width: 100%;
}
.is-style-post-template-1 .wp-block-post .wp-block-post-featured-image + .wp-block-group {
  position: relative;
}
.is-style-post-template-1.category-case-studies .wp-block-column {
  position: relative;
}
.is-style-post-template-1.category-case-studies .is-the-dynamic-company-logo {
  position: absolute;
  bottom: var(--wp--preset--spacing--70);
  right: var(--wp--preset--spacing--70);
}

.wp-block-column .wp-block-query .is-style-post-template-1 {
  height: 100%;
}
.wp-block-column .wp-block-query .is-style-post-template-1 > .wp-block-post:only-child {
  height: 100%;
}

.wp-block-column > .wp-block-group[style*="min-height:100%"] {
  height: 100%;
}
.wp-block-column > .wp-block-group[style*="min-height:100%"] > .wp-block-query {
  height: 100%;
}
.wp-block-column > .wp-block-group[style*="min-height:100%"] > .wp-block-query > .wp-block-post-template {
  height: 100%;
}
.wp-block-column > .wp-block-group[style*="min-height:100%"] > .wp-block-query > .wp-block-post-template > .wp-block-post {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.wp-block-column > .wp-block-group[style*="min-height:100%"] > .wp-block-query > .wp-block-post-template > .wp-block-post figure + .wp-block-group {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.wp-block-post.ip-case-studies .wp-block-read-more {
  border-radius: 40px;
  padding: 16px 24px;
  border: 2px solid var(--wp--preset--color--primary);
  color: var(--wp--preset--color--contrast);
}
.wp-block-post.ip-case-studies .wp-block-read-more:hover, .wp-block-post.ip-case-studies .wp-block-read-more:focus {
  border: 2px solid var(--wp--preset--color--primary) !important;
  color: var(--wp--preset--color--secondary) !important;
  background-color: var(--wp--preset--color--contrast) !important;
}
.wp-block-post.ip-education .wp-block-post-terms {
  display: inline-block;
  margin: 0 auto;
  padding: 8px 16px;
  border-radius: 4px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.wp-block-post.ip-education .wp-block-post-terms a {
  text-decoration: none;
  pointer-events: none;
  white-space: nowrap;
}
.wp-block-post.ip-education .wp-block-read-more {
  border-radius: 40px;
  padding: 16px 24px;
  border: 2px solid var(--wp--preset--color--primary);
  color: var(--wp--preset--color--contrast);
}
.wp-block-post.ip-education .wp-block-read-more:hover, .wp-block-post.ip-education .wp-block-read-more:focus {
  color: var(--wp--preset--color--primary);
}
.wp-block-post.ip-education.edu-items-categories-beginner .wp-block-read-more {
  border-color: var(--wp--preset--color--primary) !important;
}
.wp-block-post.ip-education.edu-items-categories-beginner .wp-block-read-more:hover, .wp-block-post.ip-education.edu-items-categories-beginner .wp-block-read-more:focus {
  background-color: var(--wp--preset--color--contrast) !important;
  color: var(--wp--preset--color--secondary) !important;
}
.wp-block-post.ip-education.edu-items-categories-beginner .wp-block-post-terms a {
  color: var(--wp--preset--color--secondary) !important;
}
.wp-block-post.ip-education.edu-items-categories-beginner .wp-block-post-featured-image + .wp-block-group {
  position: relative;
  background-color: var(--wp--preset--color--secondary) !important;
}
.wp-block-post.ip-education.edu-items-categories-intermediate .wp-block-read-more {
  border-color: var(--wp--preset--color--custom-color-4) !important;
}
.wp-block-post.ip-education.edu-items-categories-intermediate .wp-block-read-more:hover, .wp-block-post.ip-education.edu-items-categories-intermediate .wp-block-read-more:focus {
  border: 2px solid var(--wp--preset--color--custom-color-4) !important;
  color: var(--wp--preset--color--custom-color-7) !important;
  background-color: var(--wp--preset--color--custom-color-10) !important;
}
.wp-block-post.ip-education.edu-items-categories-intermediate .wp-block-post-featured-image + .wp-block-group {
  position: relative;
  background-color: var(--wp--preset--color--custom-color-7) !important;
}
.wp-block-post.ip-education.edu-items-categories-intermediate .wp-block-post-terms a {
  color: var(--wp--preset--color--custom-color-7) !important;
}
.wp-block-post.ip-education.edu-items-categories-advanced .wp-block-read-more {
  border-color: var(--wp--preset--color--custom-color-6) !important;
}
.wp-block-post.ip-education.edu-items-categories-advanced .wp-block-read-more:hover, .wp-block-post.ip-education.edu-items-categories-advanced .wp-block-read-more:focus {
  border: 2px solid var(--wp--preset--color--custom-color-6) !important;
  color: var(--wp--preset--color--custom-color-9) !important;
  background-color: var(--wp--preset--color--custom-color-12) !important;
}
.wp-block-post.ip-education.edu-items-categories-advanced .wp-block-post-featured-image + .wp-block-group {
  position: relative;
  background-color: var(--wp--preset--color--custom-color-9) !important;
}
.wp-block-post.ip-education.edu-items-categories-advanced .wp-block-post-terms a {
  color: var(--wp--preset--color--custom-color-9) !important;
}

.wp-block-post.ipay-team-member > .wp-block-group {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.wp-block-post.ipay-team-member > .wp-block-group > .wp-block-post-featured-image + .wp-block-group {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--wp--preset--spacing--40);
}
.wp-block-post.ipay-team-member > .wp-block-group > .wp-block-post-featured-image + .wp-block-group .wp-block-buttons {
  margin-top: auto;
  margin-bottom: 0;
}

.wp-block-post.ipay-team-member {
  overflow: hidden;
  position: relative;
}
.wp-block-post.ipay-team-member::before {
  content: "";
  background-color: white;
  position: absolute;
  height: 80px;
  height: 25%;
  width: 100%;
  top: 0;
  left: 0;
}
.wp-block-post.ipay-team-member:focus-within .wp-block-post-featured-image img, .wp-block-post.ipay-team-member:hover .wp-block-post-featured-image img, .wp-block-post.ipay-team-member:focus .wp-block-post-featured-image img {
  filter: none;
}
.wp-block-post.ipay-team-member .wp-block-post-featured-image {
  max-width: 75%;
}
.wp-block-post.ipay-team-member .wp-block-post-featured-image img {
  transition: filter 0.4s cubic-bezier(0.31, 0.11, 0.12, 0.99);
  position: relative;
  z-index: 1;
  filter: grayscale(100%);
}
.wp-block-post.ipay-team-member .wp-block-button__link.wp-element-button {
  text-decoration: underline;
  font-weight: normal;
  padding: 0 !important;
  border: none !important;
  font-size: var(--wp--preset--font-size--small);
  font-weight: 400;
  letter-spacing: 1px;
}
.wp-block-post.ipay-team-member .wp-block-button__link.wp-element-button:focus, .wp-block-post.ipay-team-member .wp-block-button__link.wp-element-button:hover {
  background-color: unset !important;
  border: unset !important;
  color: var(--wp--preset--color--primary) !important;
}

@media (max-width: 1024px) {
  .is-three-featured-post-queries .wp-block-post-featured-image[style*="aspect-ratio:3/2"] {
    aspect-ratio: 16/9 !important;
    max-height: 300px;
  }
  .is-three-featured-post-queries .wp-block-post-featured-image + .wp-block-group {
    text-align: center;
  }
  .is-three-featured-post-queries .wp-block-post-featured-image + .wp-block-group > .wp-block-group {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (min-width: 1025px) {
  .wp-block-columns.is-four-column-pathways > .wp-block-column:not(:last-child),
  .wp-block-columns.is-three-column-pathways > .wp-block-column:not(:last-child) {
    border-right: 1px solid var(--wp--preset--color--contrast);
  }
}
@media (max-width: 1024px) {
  .wp-block-columns.is-four-column-pathways > .wp-block-column > .wp-block-group,
  .wp-block-columns.is-three-column-pathways > .wp-block-column > .wp-block-group {
    padding: var(--wp--preset--spacing--medium) 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .wp-block-columns.is-four-column-pathways > .wp-block-column:not(:first-child),
  .wp-block-columns.is-three-column-pathways > .wp-block-column:not(:first-child) {
    border-top: 1px solid var(--wp--preset--color--contrast);
  }
}

@media (max-width: 1440px) and (min-width: 1025px) {
  .wp-block-columns.is-four-column-pathways {
    flex-wrap: wrap !important;
  }
  .wp-block-columns.is-four-column-pathways > .wp-block-column:first-child {
    border-bottom: 1px solid var(--wp--preset--color--contrast);
    border-right: unset;
    flex-basis: 100% !important;
    padding-bottom: var(--wp--preset--spacing--normal);
  }
}

@media (min-width: 1024px) {
  .is-four-steps-two-columns > .wp-block-columns:not(:last-child) > .wp-block-column:first-child {
    position: relative;
  }
  .is-four-steps-two-columns > .wp-block-columns:not(:last-child) > .wp-block-column:first-child::before {
    content: "";
    position: absolute;
    height: calc(100% + var(--wp--preset--spacing--large));
    background-color: var(--wp--preset--color--contrast);
    width: 1px;
    left: 50%;
    top: 0;
  }
  .is-four-steps-two-columns > .wp-block-columns:not(:last-child) > .wp-block-column:first-child p {
    position: relative;
  }
}

ul.is-style-numbermarks {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--wp--preset--spacing--x-small);
  list-style-type: none;
  list-style: none;
  counter-reset: numbermarks;
}
ul.is-style-numbermarks li {
  position: relative;
  border-bottom: 1px solid var(--wp--preset--color--secondary);
  line-height: 1.5;
  padding-bottom: var(--wp--preset--spacing--small);
  margin-top: var(--wp--preset--spacing--small);
  padding-left: var(--wp--preset--spacing--x-small);
}
ul.is-style-numbermarks li::before {
  counter-increment: numbermarks;
  position: absolute;
  top: -4px;
  left: 0;
  transform: translateX(-100%);
  font: var(--fa-font-solid);
  content: counter(numbermarks);
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: var(--wp--preset--color--primary);
  background-color: var(--wp--preset--color--secondary);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
}
ul.is-style-numbermarks li::marker {
  display: none;
}
.has-secondary-background-color ul.is-style-numbermarks li::before {
  background-color: var(--wp--preset--color--base);
}

.wp-block-ub-tabbed-content-block.is-style-clear .wp-block-ub-tabbed-content-tab-title-wrap.active {
  background: unset !important;
  background-color: unset !important;
  color: var(--wp--preset--color--primary) !important;
}
.wp-block-ub-tabbed-content-block.is-style-clear .wp-block-ub-tabbed-content-tab-title-wrap {
  padding: 8px 32px !important;
  border-radius: 0px !important;
  letter-spacing: 1px;
}
.wp-block-ub-tabbed-content-block.is-style-clear .wp-block-ub-tabbed-content-tab-title-wrap:not(:first-child) {
  border-left: 2px solid #000 !important;
}
.wp-block-ub-tabbed-content-block.is-style-clear .wp-block-ub-tabbed-content-tabs-content {
  margin-top: var(--wp--preset--spacing--normal);
}
.wp-block-ub-tabbed-content-block.is-style-clear .wp-block-ub-tabbed-content-tab-title-wrap,
.wp-block-ub-tabbed-content-block.is-style-clear .wp-block-ub-tabbed-content-tabs-content {
  border: unset !important;
}

.is-vertical-steps-breakdown > .wp-block-group {
  position: relative;
  overflow: hidden;
}
.is-vertical-steps-breakdown > .wp-block-group::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: var(--wp--preset--color--contrast);
  transform: translateX(32px);
}
.is-vertical-steps-breakdown .wp-block-group.has-primary-background-color {
  position: relative;
}
.is-vertical-steps-breakdown .wp-block-group.has-primary-background-color > p {
  line-height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -8px;
}
.is-vertical-steps-breakdown > .wp-block-group > .wp-block-group:last-child .wp-block-group.has-primary-background-color {
  position: relative;
}
.is-vertical-steps-breakdown > .wp-block-group > .wp-block-group:last-child .wp-block-group.has-primary-background-color::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 1px;
  height: 200px;
  background-color: var(--wp--preset--color--base);
  transform: translateX(32px);
}

ul.is-style-checkmarks {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--wp--preset--spacing--x-small);
  list-style-type: none;
  list-style: none;
}
ul.is-style-checkmarks li {
  position: relative;
  padding-left: var(--wp--preset--spacing--x-small);
  line-height: 1.5;
}
ul.is-style-checkmarks li::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  font: var(--fa-font-solid);
  content: "\f00c";
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: var(--wp--preset--color--primary);
  background-color: var(--wp--preset--color--secondary);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
}
ul.is-style-checkmarks li::marker {
  display: none;
}
.has-secondary-background-color ul.is-style-checkmarks li::before {
  background-color: var(--wp--preset--color--base);
}

@media (max-width: 1200px) {
  body.home .has-motion-animation-column .wp-block-spacer {
    display: none;
  }
  body.home .has-motion-animation-column .is-motion-column {
    display: none;
  }
}

@media (max-width: 1024px) {
  .wp-block-lpb-lottie-player {
    display: none;
  }
  body .is-layout-flow .wp-block-image.alignright {
    margin-left: auto;
    margin-right: auto;
    float: unset;
  }
}
@media (max-width: 1024px) {
  .wp-block-column[style*="padding-left:var(--wp--preset--spacing--large)"] {
    padding-left: unset !important;
  }
  .wp-block-column[style*="border-left-width:1px"] {
    border-left: unset;
  }
}
.wp-block-columns[style*="border-right-width:1px;"] {
  border-right: unset;
}

@media (max-width: 1620px) {
  .entry-content > .wp-block-group.alignfull:first-child > * {
    padding-left: var(--wp--custom--spacing--gutter);
    padding-right: var(--wp--custom--spacing--gutter);
  }
}

@media (max-width: 1024px) {
  .is-overflowing-hero-image {
    display: none !important;
  }
}
body.page-id-436 header.site-header,
body.page-id-436 header.site-header > .alignfull,
body.page-id-444 header.site-header,
body.page-id-444 header.site-header > .alignfull,
body.page-id-446 header.site-header,
body.page-id-446 header.site-header > .alignfull,
body.page-id-912 header.site-header,
body.page-id-912 header.site-header > .alignfull,
body.page-id-1103 header.site-header,
body.page-id-1103 header.site-header > .alignfull {
  background-color: var(--wp--preset--color--secondary) !important;
}

footer.wp-block-template-part.is-the-mobile-footer {
  display: none;
}
@media (max-width: 1024px) {
  footer.wp-block-template-part.is-the-mobile-footer {
    display: block;
  }
}
footer.wp-block-template-part.is-the-desktop-footer {
  display: none;
}
@media (min-width: 1025px) {
  footer.wp-block-template-part.is-the-desktop-footer {
    display: block;
  }
}

body.page-id-1759 .entry-content > .wp-block-group:first-child {
  position: relative;
}
body.page-id-1759 .entry-content > .wp-block-group:first-child::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-height: unset;
  height: calc(var(--wp--preset--spacing--x-large) + 450px);
  background-color: var(--wp--preset--color--neutral);
  content: "";
}

body.page-id-462 .entry-content > .wp-block-group:first-child > .wp-block-cover {
  position: relative;
}
body.page-id-462 .entry-content > .wp-block-group:first-child > .wp-block-cover::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: unset;
  height: var(--wp--preset--spacing--x-large);
  background-color: var(--wp--preset--color--neutral);
  content: "";
}

@media (max-width: 1280px) {
  .wp-block-post-template.is-layout-grid.columns-4 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 1024px) {
  .wp-block-post-template.is-layout-grid.columns-4 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 1024px) {
  .wp-block-post-template.is-layout-grid.columns-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 1024px) {
  .wp-block-column > p.has-primary-color.has-secondary-background-color.has-max-40-font-size {
    display: inline-block;
    margin: 0 auto;
  }
}

.wp-block-query.is-style-uses-flexbox .wp-block-post-template {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.wp-block-query.is-style-uses-flexbox .wp-block-post-template > .wp-block-post {
  flex: 0 1 320px;
}

@media screen and (max-width: 782px) {
  html {
    margin-top: 0px !important;
  }
}
.taxonomy-hc-position-category a {
  pointer-events: none;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .is-motion-column {
    display: none;
  }
}
.is-motion-column #container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.is-motion-column #container canvas {
  max-width: 100%;
}

.wp-block-post.ipay-team-member {
  overflow: hidden;
}
.wp-block-post.ipay-team-member .wp-block-post-featured-image {
  max-width: 75%;
  position: relative;
}
.wp-block-post.ipay-team-member .wp-block-post-featured-image img {
  position: relative;
  z-index: 1;
}
.wp-block-post.ipay-team-member .wp-element-button {
  text-decoration: underline;
  font-weight: 400;
  padding: 0 !important;
  border: none !important;
}
.wp-block-post.ipay-team-member .wp-element-button:focus, .wp-block-post.ipay-team-member .wp-element-button:hover {
  background-color: unset !important;
  border: unset !important;
}

.entry-content > .wp-block-group.alignfull > .wp-block-cover.alignfull .wp-block-cover__image-background,
.entry-content > .wp-block-cover.alignfull .wp-block-cover__image-background {
  animation-name: image-out;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.31, 0.11, 0.12, 0.99);
  animation-timing-function: ease-in-out;
}

main.is-layout-flow {
  margin-bottom: 0;
}

.wp-block-navigation__submenu-container .wp-block-navigation-item__content {
  color: var(--wp--preset--color--contrast);
}
.wp-block-navigation__submenu-container .wp-block-navigation-item__content:hover, .wp-block-navigation__submenu-container .wp-block-navigation-item__content:focus, .wp-block-navigation__submenu-container .wp-block-navigation-item__content:focus-within {
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--base);
}

.has-base-color .wp-block-navigation__submenu-container .wp-block-navigation-item__content {
  color: var(--wp--preset--color--contrast);
}
.has-base-color .wp-block-navigation__submenu-container .wp-block-navigation-item__content:hover, .has-base-color .wp-block-navigation__submenu-container .wp-block-navigation-item__content:focus, .has-base-color .wp-block-navigation__submenu-container .wp-block-navigation-item__content:focus-within {
  background-color: var(--wp--preset--color--contrast);
  color: var(--wp--preset--color--base);
}

.wp-site-blocks main .wp-block-navigation-item__content,
.wp-site-blocks footer .wp-block-navigation-item__content {
  position: relative;
  padding-bottom: 2px;
}
.wp-site-blocks main .wp-block-navigation-item__content:before,
.wp-site-blocks footer .wp-block-navigation-item__content:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-bottom: 2px solid var(--wp--preset--color--primary);
  bottom: -2px;
  transition: all 0.2s ease-in-out;
  left: 0;
  right: auto;
}
.wp-site-blocks main .wp-block-navigation-item__content::before,
.wp-site-blocks footer .wp-block-navigation-item__content::before {
  bottom: 0;
}
.wp-site-blocks main .wp-block-navigation-item__content:hover::before, .wp-site-blocks main .wp-block-navigation-item__content:focus::before,
.wp-site-blocks footer .wp-block-navigation-item__content:hover::before,
.wp-site-blocks footer .wp-block-navigation-item__content:focus::before {
  width: 100%;
}
.wp-site-blocks main :where(.current-menu-item, .is-current-page-ancestor) .wp-block-navigation-item__content::before,
.wp-site-blocks footer :where(.current-menu-item, .is-current-page-ancestor) .wp-block-navigation-item__content::before {
  width: 33%;
}

html,
body {
  height: 100%;
}

.wp-site-blocks {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.wp-site-blocks > main {
  flex: 1;
}

.is-position-sticky {
  top: calc(var(--wp-admin--admin-bar--position-offset) + 90px + var(--wp--style--block-gap));
}

.mfp-bg {
  position: fixed;
  z-index: 101;
  width: 100vw;
  height: 100vh;
  background-color: var(--wp--preset--color--contrast);
  opacity: 0.5;
}
.mfp-wrap {
  position: fixed;
  z-index: 102;
  width: 100vw;
  height: 100vh;
}
.mfp-wrap .mfp-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--wp--preset--color--base);
}
.mfp-wrap .mfp-container .mfp-content {
  padding: var(--wp--style--block-gap);
}

.wp-block-post-title a:focus, .wp-block-post-title a:hover {
  color: var(--wp--preset--color--secondary);
}

body {
  --hc-header-height: 96px;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  position: relative;
  z-index: 0;
}
body h1[id]::before,
body h2[id]::before,
body h3[id]::before,
body h4[id]::before,
body h5[id]::before,
body h6[id]::before {
  content: "";
  display: block;
  height: var(--hc-header-height);
  margin-top: calc(var(--hc-header-height) * -1);
  visibility: hidden;
  position: relative;
  z-index: -1;
}

.wp-block-hencove-custom-taxonomy-term-list {
  position: relative;
  z-index: 1;
}

#animationWindow {
  overflow: hidden;
}

/* end styles.css */
