
//
//
//
.site-header .wp-block-search {
	// conditional applied to this config
	&.wp-block-search__button-only {
		position: relative;
		//
		.wp-block-search__button {
			position: relative;
			padding: 1.5rem;
			svg {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		//
		.wp-block-search__input {
			position: absolute;
			right: 100%;
			left: auto;
			min-width: 0px;
			font-size: 16px;
			padding: 8px 16px;
			&[aria-hidden="false"] {
				min-width: 220px;
				min-height: 48px;
			}
		}
	}
}