//

%lineWork {
	&::before {
		content: "";
		position: absolute;
		background-color: var(--wp--preset--color--black);
		//
		top: 0;
		left: calc(-0.5 * var(--wp--preset--spacing--large));
		//
		width: 1px;
		height: 100%;

		@include media(">kt-mobile") {
		}
		@include media("<=kt-mobile") {
			left: 0;
			top: calc(-0.5 * var(--wp--preset--spacing--large));
			width: 100%;
			height: 1px;
		}
	}
}

//
.wp-block-kadence-rowlayout.is-style-lines-between-columns {
	//
	> .kt-row-column-wrap {
		//
		> .wp-block-kadence-column {
			//
			&:not(:first-child) {
				@extend %lineWork;
			}
			> .kt-inside-inner-col {
			}
		}
	}
}
.wp-block-post-template {
	.wp-block-kadence-rowlayout.is-style-lines-between-columns {
		//
		> .kt-row-column-wrap {
			//
			> .wp-block-kadence-column {
				//
				&:not(:first-child) {
					// @extend %lineWork;
					&::before {
						left: calc(-0.5 * var(--wp--preset--spacing--medium));
						@include media("<=kt-mobile") {
							left: 0;
							top: calc(-0.5 * var(--wp--preset--spacing--medium));
						}
					}
				}
				> .kt-inside-inner-col {
				}
			}
		}
	}
}
